<!DOCTYPE html>
<html lang="en">
<head id="headId">
    <meta charset="UTF-8">
    <title th:align="center">Guess the Number Game</title>
</head>
<body>

<h1 id="game-title" :align="center">Guess the Number Game</h1>
<h3 id="main-message">
    Main Message Content
</h3>
<h3 id="result-message">
    Result Main Message Content
</h3>
<form id="game-form">
    <label id="enter-guess" th:align="center" for="guess">Enter your guess</label>
    <input th:align="center" id="guess" type="number" name="guess"/>
    <input id="submit" th:align="center" type="submit" value="Submit"/>
</form>

<footer id="footerId">
    <p> th:align="center">Create By Emanuele Carere</p>
</footer>

</body>
</html>